body {
	padding-top: 10px;
	padding-left: 20px;
	font-family: Arial;
	background-color: rgb(41, 42, 45);
	color: white;
}

.yellow {
	color: #FFFF00;
}

/* Изменяем цвет и размер маркеров у списков */

li {
	color: yellow;
	font-size: 20px;
}

/* Возвращаем цвет и размер текста у списков */

li span {
	color: white;
	font-size: 16px;
}